button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 260px;
  min-height: 60px;

  color: white;
  font-size: 18px;

  background-color: #fc9b27;
  border: none;
}
