.feature-item {
  padding: 20px;
  background-color: palegoldenrod;
}

.feature-item__header {
  padding-left: 70px;
  background-image: url("../../src/assets/f1.png");
  background-repeat: no-repeat;
  background-position: left;
}

.feature-item__category {
  background-color: #88aa4d;
  color: white;
  padding: 2px 10px;
}
